@import '../../styles/tools/mixins.scss';
@import '../../styles/settings/variables.scss';

.view-my-work-cta {
    @include display-flex-with-centered-items;
    flex-flow: row;
    font-size: 21px;
    color: $white-color;
    border: 2px solid $white-color;
    padding: 12px 50px;
    transition: all 0.5s;

    &-arrow {
        border: solid $white-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3.5px;
        transform: rotate(-45deg);
        transition: transform 0.5s;
        margin-left: 12px;
    }

    &:hover {
        background: $blue-color-300;
        border-color: $blue-color-300;

        .view-my-work-cta-arrow {
            transform: rotate(45deg);
        }
    }
}
