@import '../../styles/tools/mixins.scss';
@import '../../styles/tools/breakpoints.scss';
@import '../../styles/settings/variables.scss';

.navigation {
    @include display-flex-with-centered-items;
    background-color: $grey-color-800;
    border-bottom: 3px solid $blue-color-300;

    &-list {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        row-gap: 8px;

        @include for-tablet-portrait-up {
            column-gap: 35px;
            grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
            grid-auto-flow: column;
            height: 52px;
        }
    }
}