@import '../../styles/tools/mixins.scss';
@import '../../styles/settings/variables.scss';

.header {
    @include display-flex-with-centered-items;
    flex-flow: column;
    background: $grey-color-700;
    height: 100vh;

    &-title {
        font-size: 47px;
        color: $white-color;
        margin-bottom: 24px;
        max-width: 720px;
        text-align: center;

        &-highlighted {
            font-family: 'Raleway-SemiBold';
            color: $pink-color-700;
        }
    }
}
