@font-face {
    font-family: 'Raleway-Bold';
    src: url('../../assets/fonts/Raleway-Bold.woff') format('woff2'),
        url('../../assets/fonts/Raleway-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../assets/fonts/Raleway-Regular.woff') format('woff2'),
        url('../../assets/fonts/Raleway-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../../assets/fonts/Raleway-SemiBold.woff') format('woff2'),
        url('../../assets/fonts/Raleway-SemiBold.woff') format('woff');
    font-display: swap;
}

html,
body {
    font-family: 'Raleway-Regular';
}
