$grey-color-400: #616161;
$grey-color-500: #444649;
$grey-color-700: #252934;
$grey-color-800: #1b242f;

$pink-color-700: #e31b6d;

$white-color: #fff;

$blue-color-300: #04c2c9;
$blue-color-400: #00c7fe;

